<main>
  <h1>Adivina el número</h1>
  <section>
    <form class="form js-body">
      <label for="userNumber" class="subTitle">Introduce aquí tu número</label>
      <input
        class="input js-userNumber"
        id="userNumber"
        type="number"
        name="userNumber"
        min="1"
        max="100"
        required
      />
      <label for="button"></label>
      <input class="button js-button" type="button" value="Prueba" />

      <label for="pista" class="clue"></label>
      <input
        class="input js-clue"
        type="text"
        id="clue"
        value="Pista: Escribe tu número y dale a Prueba"
        name="clue"
      />

      <label for="intentos" class="try"></label>
      <input
        class="input js-counter"
        type="text"
        id="intentos"
        name="try"
        value="0"
        readonly
      />
    </form>
  </section>
</main>
